@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Pirata+One&family=Zen+Loop:ital@0;1&family=Zen+Tokyo+Zoo&display=swap');
body {
    font-family: "Zen Loop";
    font-weight: 400;
  }
  b{
    font-family:"Orbitron";
    font-weight: 400; 
  }
h1{
    font-family: "Zen Tokyo Zoo";
    font-weight: 400; 
}